<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link href="{{ url_for('static', filename="login_register.css") }}" rel="stylesheet", type="text/css">
    <script src="{{ url_for('static', filename="call_server.js")}}"></script>
    <script src="{{ url_for('static', filename="scryptPbkdf.js")}}"></script>
    <script src="{{ url_for('static', filename="arraybuffer_hex.js")}}"></script>
    <title>Log In</title>
</head>
<body>
    <div class="login-wrapper">
		<h3>Login to your account</h3>
		<form id="login_form">
			<div class="form-group">
				<label for="username" class="form-label">Email</label>
				<input type="text" placeholder="Mail" name="username" id="username" class="form-input" autocomplete="username" autofocus required>
			</div>
	
			<div class="form-group">
				<label for="password" class="form-label">Password</label>
				<input type="password" placeholder="Password" id="password" class="form-input" autocomplete="current-password" required>
			</div>
	
			<div class="form-group remember-me">
				<label>
					<input id="remember" type="checkbox" name="remember_me">Remember Me
				</label>
			</div>
	
			<button class="btn login-btn" id="login-btn-marg" type="submit">Login</button>
		</form>
		
		<div class="register-link">
			<button class="btn register-btn" onclick=go_to_register()>Register</button>
		</div>
	</div>
	<script>
		const button   = document.getElementById("login-btn-marg");
		const username = document.getElementById("username");
		const password = document.getElementById("password");
		const form     = document.getElementById("login_form");
		const remember = document.getElementById("remember");

		form.addEventListener("submit", function(e) {
			console.log("Trying to log in...")
			e.preventDefault();
			if(!form.checkValidity()) {
				return;
			}

			button.disabled = true;

			const salt = username.value;
			scryptPbkdf.scrypt(password.value, salt, 64, {
				N: 16384,
				r: 8,
				p: 2
			}).then(
				function(password_hash) {
					const body = new FormData();
					body.append("username", username.value);
					body.append("password", hex(password_hash));
					if(remember.checked) {
						body.append("remember", "yes");
					}

					call_server("POST", "/login", body, function(status, response){
						console.log("status: " + status)
                        if(status == 200) {
							//alert("Successfully logged in. Redirecting...");
							location.href = "/";
						} else {
							alert("Error " + status + ": " + response);
							button.disabled = false;
						}
					});
				},
				function(error) {
					alert("Error: " + error);
				}
			);
		});

		function go_to_register() {
			window.location.href="{{ url_for('register') }}"
		}
	</script>

</body>
</html>
