<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IKEA SceneGen</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    
    <!-- Header at the top of the page -->
    <header>
        <div class="header-bar">
            <h1 class=title-text>IKEA SceneGen</h1>
            <div class="logout-container">
                <form action="/logout", method="post">
                    <button class="logout-button">
                        <img src="{{ url_for('static', filename='img/logout.png') }}" alt="Logout" class="logout-icon">
                    </button>
                </form>
            </div>
        </div>
    </header>

    <div class="tabs-container">
        <a href="{{ url_for('index') }}" class="tab-button {% if active_tab == 'generate' %}active{% endif %}">Mockup Generator</a>
        <a href="{{ url_for('saved_images') }}" class="tab-button {% if active_tab == 'saved' %}active{% endif %}">Saved Images</a>
    </div>

    <div class="saved-container">

        <h3 class="small-title">Recently generated</h1>
            <div class="recents-container">
                {% if recent_images %}
                    {% for image in recent_images %}
                    <div class="recent-image-card">
                        <!-- Display the image -->
                        <img src="{{ image.image_data }}" alt="Image"/>
            
                        <!-- Save button, with onclick to toggle save by image_id -->
                        <div class="button-container">
                            <button class="share-button" onclick="openShareModal('{{ image.image_id }}')">
                                &#128257;
                            </button>
                            
                            <button class="star-save-button" onclick="toggleStar(this, '{{ image.image_id }}')">
                                {% if image.is_saved %}
                                &#9733;
                                {% else %}
                                &#9734;
                                {% endif %}
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>

        <h3 class="small-title">Saved mockups</h1>
            <div class="recents-container">
                {% if saved_images %}
                    {% for image in saved_images %}
                    <div class="recent-image-card">
                        <!-- Display the image -->
                        <img src="{{ image.image_data }}" alt="Image"/>
            
                        <!-- Save button, with onclick to toggle save by image_id -->
                        <div class="button-container">
                            <button class="share-button" onclick="openShareModal('{{ image.image_id }}')">
                                &#128257;
                            </button>
                            
                            <button class="star-save-button" onclick="toggleStar(this, '{{ image.image_id }}')">
                                {% if image.is_saved %}
                                &#9733;
                                {% else %}
                                &#9734;
                                {% endif %}
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>

        <h3 class="small-title">Images shared with you</h1>
            <div class="recents-container">
                {% if shared_images %}
                    {% for image in shared_images %}
                    <div class="recent-image-card">
                        <!-- Display the image -->
                        <img src="{{ image.image_data }}" alt="Image"/>
            
                        <!-- Save button, with onclick to toggle save by image_id -->
                        <div class="button-container">
                            <button class="share-button" onclick="openShareModal('{{ image.image_id }}')">
                                &#128257;
                            </button>
                            
                            <button class="star-save-button" onclick="toggleStar(this, '{{ image.image_id }}')">
                                {% if image.is_saved %}
                                &#9733;
                                {% else %}
                                &#9734;
                                {% endif %}
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
        
        <div class="modal" id="share-modal">
            <div class="modal-content">
                <span class="close" onclick="closeShareModal()">&times;</span>
                <h2>Share Image</h2>
                
                <!-- Search box to find users -->
                <input type="text" id="userSearchInput" oninput="searchUsers()" placeholder="Search for a user...">
                
                <!-- Results of the user search -->
                <ul id="userResults"></ul>
                
                <!-- Share button -->
                <button id="sendShareButton" onclick="sendImageToUser()">Send</button>
            </div>
        </div>
        
    <script src="{{ url_for('static', filename='js/saving.js') }}"></script>
    <script src="{{ url_for('static', filename='js/share_modal.js') }}"></script>
</body>