@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
    /* Color palette */

    /* Backgrounds */
    --dark-slate: #1A1A2E;  /* Primary backgrounds */
    --charcoal: #2E2E3A;    /* Section or card backgrounds */
    --soft-gray: #3E4053;   /* Borders and lighter backgrounds */
    --darker-charcoal: #272731;

    /* Text colors */
    --off-white: #EDEDED;   /* Primary text */
    --cool-gray: #C5C6C7;   /* Secondary text, captions, subheadings */

    /* IKEA colors */
    --ikea-blue: #0058AB;
    --ikea-yellow: #FBD914;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--charcoal);
}

.title-text {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: var(--off-white);
}
.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    gap: 10px;

}

/* Header Styling */
.header-bar {
    width: 100%; /* Full width of the viewport */
    height: 8rem; /* You can adjust this height as needed */
    background-color: var(--dark-slate); /* Adjust color to fit the design */
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    padding: 0 1rem; /* Add some padding to the sides */
    position: fixed; /* Keeps the header fixed at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures it stays on top of other elements */
    text-align: center;
}

.tabs-container {
    position: absolute;
    height: 2.5rem;
    top: 5.5rem;
    left: 0.1rem;
    display: flex;
    justify-content: left;
    gap: 10px;
    padding-left: 20px;
    z-index: 1001; /* Ensure tabs are above the header */
}

.tab-button {
    padding: 10px 20px;
    background-color: var(--darker-charcoal);
    cursor: pointer;
    font-size: 16px;
    border-radius: 1rem 1rem 0 0; /* Rounded top edges */
    transition: background-color 0.3s ease;
    color: var(--off-white);
    border-color: var(--cool-gray);
    border-bottom: none;
}

.tab-button.active {
    background-color: var(--charcoal); /* Active tab background */
    border-bottom: none;
}

.tab-button:hover {
    background-color: var(--cool-gray);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block; /* Only active tab content is shown */
}

.logout-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--off-white);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 2rem;
}

.logout-icon {
    position: relative;
    width: 80%;
    height: 80%;
}

.image-box {
    position: relative;
    width: 60%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-gray);
    border-radius: 10px;
    border: 4px solid var(--cool-gray);
    overflow: hidden;
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.status-text {
    position: absolute;
    text-align: center;
    font-size: 18px;
    color: var(--off-white);
}

.loading-bar-container {
    position: relative;
    width: 60%;
    height: 8px;
    background-color: var(--off-white);
    border-radius: 5px;
    margin-top: 60px;
    overflow: hidden;
    display: none; /* Initially hidden */
}

/* The actual loading bar that fills the container */
.loading-bar {
    width: 0%;
    height: 100%;
    background-color: var(--ikea-blue); 
    border-radius: 5px;
    animation: loading-animation 6s ease-out forwards;
}


@keyframes loading-animation {
    0% {
        width: 0%;
    }
    90% {
        width: 95%; /* Stop a little before the end */
    }
    100% {
        width: 95%;
    }
}


.download-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 120px; 
    display: none;
}

.edit-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px; 
    display: none;
}

.image-box:hover .download-button {
    display: block;
}


.image-box:hover .edit-button {
    display: block;
}


.controls {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-self: start;
    justify-content: center;
    padding: 20px;
    border: 4px solid var(--cool-gray);
    background-color: var(--soft-gray);
    border-radius: 10px;
}

.toggle-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.toggle-group label {
    color: var(--off-white);
    margin-bottom: 5px;
    font-weight: bold;
}

.map-name label {
    color: var(--off-white);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.toggle-button {
    padding: 10px 15px;
    background-color: var(--charcoal);
    cursor: pointer;
    color: var(--off-white);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-button.active {
    background-color: var(--ikea-yellow);
    color: var(--ikea-blue);
    border-color: var(--ikea-blue);
}

.toggle-button:hover {
    background-color: var(--ikea-yellow);
    color: var(--ikea-blue);
}


.form-box {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: 2px solid #0058AB;
    background-color: #FBD914;
    color: var(--ikea-blue);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ffda0b;
}

.generate-button-container {
    padding-top: 10px;
}

.generate-button {
    width: 200px;
    position: relative;
    border: 2px solid #0058AB;
    background-color: #FBD914;
    color: var(--ikea-blue);
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out; 
    margin: 0 auto;
    display: block;
}

.generate-button:hover {
    transform: scale(1.01); 
}

.generate-button:active {
    transform: scale(0.98); 
    transition: transform 0.1s ease;
}

.dialog {
    display: none;
    position: relative;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dialog-content {
    display: flex;
    flex-direction: column;
}

.close-button {
    align-self: flex-end;
    cursor: pointer;
    font-size: 20px;
}

#edit-dialog textarea {
    margin-bottom: 10px;
}